
head
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')

	style. 
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: sans-serif;
		}

		body {
			overflow-y: scroll; /* fix */
			overflow-x: hidden; /* fix */
		}

		:root {

			--menu-height: 35px;

			--menu-backcolor: black;
			--menu-color: #ccc;

			--menu-backcolor_hover: black;
			--menu-color_hover: white;

			--menu-drop-backcolor: red;
			--menu-drop-color: blue;

			--menu-drop-backcolor_hover: blue;
			--menu-drop-color_hover: red;
		}

	link(rel='stylesheet' href='nav.css')

	script.


body
	header
		.main-menu-wrap
			.logo 
				span My Site

			input#checkboxT(type='checkbox')
			label(for='checkboxT')
				svg.burger-icon(viewBox='0 0 1024 1024')
					path(d='M128 277.333h768v86h-768v-86z m0 298v-84h768v84h-768z m0 214v-86h768v86h-768z')

			.main-menu
				a(href='#') HomeX
				.sub-menu-wrap
					input#checkboxS(type='checkbox')
					label.sub-check(for='checkboxS') About
					// optional sub-menu, can be disabled
					.sub-menu
						a(href='#') Home1
						a(href='#') Home2
						a(href='#') Home3
				a(href='#') Services
				a(href='#') Product
				a(href='#') Contact

			.menu-space

	section
		br
		h1 An Awesome Title Here
		p This tutorial will guide you through creating a responsive dr. down menu using CSS only, with the help of flexbox and the "checkbox-hack".

