
/**  *******************************************************************************/
/* from https://1stwebdesigner.com/how-to-create-a-responsive-dropdown-navigation-using-only-css */
/* first learn absoulte in relative and the checkbox trick */

.logo > * {
	font-size: 1.75em;
	line-height: var(--menu-height);
}

.burger-icon {
  width: 40px;
  height: var(--menu-height);
  fill: currentColor;
  display: none;
}

.main-menu-wrap {
	display: flex;
	align-items: center;

	justify-content: space-between;
	padding: 0 15px;

	background-color: 	var(--menu-backcolor);
	color: 				var(--menu-color);

	/* don't select: */
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
            user-select: none; /* Supported by Chrome, Edge, Opera and Firefox */
}

/** main *******************************************************************************/
.main-menu {
	display: flex;
	align-items: center;
}

/** menu ITEMS **/
.main-menu a, .main-menu .sub-menu-wrap {
	color:  var(--menu-color);
	text-decoration: none;
	padding: 5px;
	margin-right: 5px;
}
.main-menu a:hover, .main-menu .sub-menu-wrap:hover {
	background-color: 	var(--menu-backcolor_hover);
	color:				var(--menu-color_hover);
}

#checkboxT { /* just hide the box */
	display: none;
}

/** sub menu *******************************************************************************/
.sub-menu-wrap {
	position: relative;  /* absolute in relative trick 2 */
}
.sub-check { /* click area */
	padding: .5em 0 .5em 0;
}

/* check trick 2*/
#checkboxS {
	display: none;
}
.sub-menu {
	display: none;
	flex-direction: column;
	flex-wrap: wrap;

	position: absolute; /* absolute in relative trick 2 */
	top: 34px;
	text-align: left;
	width: 110px;

	background-color:	var(--menu-drop-backcolor);
}
.sub-menu a {
	color:				var(--menu-drop-color);
}
.sub-menu a:hover {
	background-color: 	var(--menu-drop-backcolor_hover);
	color:				var(--menu-drop-color_hover);
}

#checkboxS:checked ~ .sub-menu {
	display: flex ;
}
/* end check */

.sub-menu a {
	padding: 7px;
	margin-right: 0;
}

@media (max-width:  800px ) {  /* less than */
	.sub-menu {
		margin-left: 100px;
		top: 20px;
	}
} /* media */
/* END sub menu */

/** media MAIN menu  *******************************************************************************/
@media (max-width:  800px ) {  /* less than */
	.burger-icon {
		display: inline;
	}
	.main-menu {
		flex-direction: column;
		
		position: absolute;  /* absolute in relative trick 1 */
		top: calc(5px + var(--menu-height));
		left: 0px;

		width: 200px;

		background-color:	var(--menu-drop-backcolor);
	}
	
	/** menu ITEMS LEFT **/
	.main-menu a, .main-menu .sub-menu-wrap{
		padding: 10px;
		color:				var(--menu-drop-color);
		width: 100%;
	}
	.main-menu a:hover, .main-menu .sub-menu-wrap:hover {
		background-color: 	var(--menu-drop-backcolor_hover);
		color:				var(--menu-drop-color_hover);
	}

	/* check trick 1*/
	.main-menu {
		display: none;
	}
	#checkboxT:checked ~ .main-menu {
		display: flex;
	}
	/* end check */

	.xmenu-space {
		display: none;
	}
	.sub-check {
		padding: 1em 3em 1em 0;
	}
}/* media */
