doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Document

	body
		h2 HTTP Video Streaming
		p This video is 61MB and is being streamed instead of downloaded.
		p
		| Feel free to seek through the video and it only loads the part you want to
		| watch
		video#videoPlayer(width='650' controls muted='muted' autoplay)
			source(src='/api/video1' type='video/mp4')
		i Big Buck Bunny
