doctype html

head
	script.

body
	p View console.

	script(type='module').
		// loosley coupled is better: 
		import { EventBusSingleton } from 'https://cdn.jsdelivr.net/npm/axthe@0.1.0/CDN/js/leb/index.js'
		const subscription = EventBusSingleton.subscribe('MyComp', arg => console.log(arg))


	// here is how to use it
	my-comp(bla=3)#c1
		p Slot In: click me!

	// and here is how you hide .js in the above DOM
	script(src='my-comp.js' type='module')

